body{
  color: #383e45;
  font-size: 0.9em;
  line-height: 1.5;
}

/* header *\
header{
  display: flax;
  height: 60px
  background-color: #fff5ee;
}

header .site-title  img{
  width: 120px;
}

header nav{
  ma
}